<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Data</title>
</head>
<body>
    <h1>Please fill data in the form below:</h1>
    <form method="POST" action="/userinterests">
        <label>Cars<input type="radio" name="cars" required></label>
        <br>
        <label>Nature<input type="radio" name="nature" required></label>
        <br>
        <label>Movies<input type="radio" name="movies" required></label>
        <br>
        <label>Music<input type="radio" name="music" required></label>
        <br>
        <label>Books<input type="radio" name="books" required></label>
        <br>
        <label>Sport<input type="radio" name="sport" required></label>
        <br>
        <label>Travelling<input type="radio" name="travelling" required></label>
        <br>
        <label>Gaming<input type="radio" name="gaming" required></label>
        <br>
        <label>Flowers<input type="radio" name="flowers" required></label>
        <br>
        <label>Dance<input type="radio" name="dance" required></label>
        <br>
        <label>Technology<input type="radio" name="technology" required></label>
        <br>
        <label>Outdoor Activities<input type="radio" name="outdoor activities" required></label>
        <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
