<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Welcome</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <style>
        .flex_container {
            display:flex;
            flex-direction: column;
            text-align: center;
            color: white;
        }
        .button {
          background-color: black;
          border: 2px solid orange;
          color: white;
          border-radius: 8px;
	  padding: 20px 34px;
	  text-align: center;
	  display: inline-block;
	  margin: 4px 2px;
	  cursor: pointer;
  	  text-decoration: none;
        }
      </style>
  </head>
  <body bgcolor=#050121 onload=display_time();>
    <h1 style="text-align:center; color:orange">Friend Finder</h1>
        <div class="flex_container">
            <div style="min-height: 100px">
                <h2>Welcome to Friend Finder!!!</h2> 
            </div>
            <div style="min-height:200px">
                <h3>Have you ever wanted to find out if there are people of the same interests
                in your vicinity that you could connect with? Well, this site does exactly that 
                and will match you with people of the same interests. Simply fill in the details, 
                select at least 5 different areas that spark joy in you and let the server do the 
                work. 
                <p> 
                Click the button below to proceed.
                </p>
            </div>
            <div style="min-height: 200px">
		<a href="userform" class="button">Start your search!</a>
            </div>
	    <div id="timediv">

	    </div>
        </div>
</body>

<script type="text/javascript">
function refresh_time() {
	var refresh = 1000;
	mytime=setTimeout('display_time()', refresh);
}

function display_time() {
	var a = new Date();
	document.getElementById('timediv').innerHTML = a;
	refresh_time();
}

</script>
</html>
