<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Data</title>
</head>
<body>
    <h1>Please fill data in the form below:</h1>
    <form method="POST" action="/userinfo">
        <label>Name :<input type="text" name="name" required></label>
        <br>
        <label>Email:<input type="text" name="email" required></label>
        <br>
        <label>Age  :<input type="text" name="age" required></label>
        <br>
        <label>Sex  :<input type="text" name="sex" required></label>
        <br>
        <label>Phone:<input type="text" name="phone" required></label>
        <br>
        <label>City :<input type="text" name="city" required></label>
        <br>
        <label>Cars<input type="radio" name="cars" ></label>
        <br>
        <label>Nature<input type="radio" name="nature" ></label>
        <br>
        <label>Movies<input type="radio" name="movies" ></label>
        <br>
        <label>Music<input type="radio" name="music" ></label>
        <br>
        <label>Books<input type="radio" name="books" ></label>
        <br>
        <label>Sport<input type="radio" name="sport" ></label>
        <br>
        <label>Travelling<input type="radio" name="travelling" ></label>
        <br>
        <label>Gaming<input type="radio" name="gaming" ></label>
        <br>
        <label>Flowers<input type="radio" name="flowers" ></label>
        <br>
        <label>Dance<input type="radio" name="dance" ></label>
        <br>
        <label>Technology<input type="radio" name="technology" ></label>
        <br>
        <label>Outdoor Activities<input type="radio" name="outdoor_activities" ></label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
